<Configuration status = "WARN">
<Appenders>
    <RollingFile name="RollingFile" fileName="C:\logs\application.log" append = "true"
                 filePattern="C:\logs\log-%d{yyyy-MM-dd}.log">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %M - %msg%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </Policies>
        <DefaultRolloverStrategy max="24"/>
    </RollingFile>
</Appenders>
<Loggers>
    <logger name = "org.hibernate" level = "off" additivity = "false">
        <AppenderRef ref = "RollingFile"/>
    </logger>
    <Root level="debug">
        <AppenderRef ref = "RollingFile"></AppenderRef>
    </Root>
</Loggers>
</Configuration>