<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/student_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Shiva@123</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping resource = "com/i2i/cms/models/student.hbm.xml"/>
        <mapping resource = "com/i2i/cms/models/personalDetails.hbm.xml"/>
        <mapping resource = "com/i2i/cms/models/event.hbm.xml"/>
        <mapping resource = "com/i2i/cms/models/grade.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
